language: go

go:
  - 1.6
  - 1.7
  - tip

install:
  - go get -v github.com/Masterminds/glide
  - cd $GOPATH/src/github.com/Masterminds/glide && git checkout v0.12.3 && go install && cd -
  - glide install


script: make build